.bootcamp-separator-hide {
	display: none;
	visibility: hidden;
}

.bootcamp-separator-show {
	display: block;
	visibility: visible;
}


.bootcamp-separator-color-grey {
	color: #808080;
}

.bootcamp-separator-color-black {
	color: #000000;
}

.bootcamp-separator-color-white {
	color: #FFFFFF;
}

.bootcamp-separator-color-yellow {
	color: #FFFF00;
}

.bootcamp-separator-color-red {
	color: #FF0000;
}

.bootcamp-separator-color-blue {
	color: #0000FF;
}

div.bootcamp-separator-width-30 > div > hr.cmp-separator__horizontal-rule {
	width: 30%;
}

div.bootcamp-separator-width-50 > div > hr.cmp-separator__horizontal-rule {
	width: 50%;
}

div.bootcamp-separator-width-80 > div > hr.cmp-separator__horizontal-rule {
	width: 80%;
}

div.bootcamp-separator-width-100 > div > hr.cmp-separator__horizontal-rule {
	width: 100%;
}

div.bootcamp-separator-solid > div > hr.cmp-separator__horizontal-rule {
	border-style: solid;
}

div.bootcamp-separator-dashed > div > hr.cmp-separator__horizontal-rule {
	border-style: dashed;
}

div.bootcamp-separator-dotted > div > hr.cmp-separator__horizontal-rule {
	border-style: dotted;
}